.materials{
    // display: flex;
    // flex-wrap: wrap;
    .material{
        margin: 10px;
        // padding: 0 8px;
        // flex: 0 0 110px;
        cursor: pointer;
        height: 40px;
        border: 1px solid #e8e9eb;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}