.containerWrap{

}
.interaction{
    width: auto;
    height: auto;
    // position: absolute;
    &.active{
            border:1px solid orangered
    }
}

.layout-container{
    // height: 100%;
    >div{
        margin: 4px 8px;
    }
}